<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicePatient" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceUser" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceObservation" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3055/ServicePatient.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePatient"
        contract="ServicePatient.IServicePatient" name="BasicHttpBinding_IServicePatient" />
      <endpoint address="http://localhost:3055/ServiceUser.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceUser" contract="ServiceUser.IServiceUser"
        name="BasicHttpBinding_IServiceUser" />
      <endpoint address="http://localhost:3055/ServiceObservation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceObservation"
        contract="ServiceObservation.IServiceObservation" name="BasicHttpBinding_IServiceObservation" />
    </client>
  </system.serviceModel>
</configuration>